{% extends 'base.html' %}
{% block beforedomjs %}
<script src="../static/js/location.js"></script>
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="rooms">
   <div class="container">
       <span class="building" building="{{building}}"></span>
       <span class="lat" latitude="{{latitude}}"></span>
       <span class="long" longitude="{{longitude}}"></span>
       <div class="section-title">
            <center><h3>{{building}} - {{room}}</h3></center>
            <h4>Available End Times for Reservation </h4>
            <p>Click a time below to occupy this room until then.<p>
       </div>

       <div class="list-group list-group-flush">
         {% for time in times %}
            <a id="check" href={{url_for('confirmation', building=building, room=room, time=times[loop.index0], fullTime=fullTimes[loop.index0])}} class="list-group-item list-group-item-action" id="check">{{time}}</a>
         {% endfor %}
        </div>
        <br>
        <center><a href={{url_for('viewRoom', building= building, room=room)}}
        class="btn btn-info">View Room Schedule</a></center>
</div>
{% endblock %}
{% block extrajs %}
<script src="../static/js/reload.js"></script>
<script src="../static/js/script2.js"></script>
<script>
$("#check").on('click', function() {
  checkLocation();
});
</script>
{% endblock %}
