{% extends 'base.html' %}
{% block extracss%}
    <!-- Main css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <style>
    .card-deck .card {
      max-width: calc(25% - 30px);
    }
    </style>
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="buildings">
   <div class="container-fluid">
       <div class="section-title pl-3">
            <h3>Locations</h3>
       </div>
       <!-- <div class="row justify-content-center"> -->
         <div class="col col-md-11">
            <div class="card-deck">
            {% for building in buildings: %}
                  <div class="card features m-2" style="width: 30%;">
                        <div class="card-body">
                          <div class="media">
                            <div class="media-body">
                              <h5 class="card-title"><a href={{url_for('rooms', building=building)}}>{{building}}</a></h5>
                              <!-- <h6 class="card-subtitle mb-2 text-muted">Hours</h6> -->
                              <p class="card-text">
                                <!-- time open and closed to be put soon and maybe some other data -->
                              </p>
                              <a href="{{url_for('rooms', building=building)}}" class="card-link">See Rooms</a>
                              <!-- <a href="{{url_for('rooms', building=building)}}" class="card-link">Locate</a> -->
                            </div>
                          </div>
                        </div>
                      </div>
            {% endfor %}
            </div>
         </div>
      <!-- </div> -->
  </div>
 {% endblock %}
 {% block modalspace %}
 <div class="modal fade" id="LocationModalCenter" tabindex="-1" role="dialog" aria-labelledby="LocationModalCenterTitle" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header">
           <h5 class="modal-title" id="LocationModalLongTitle">Location</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
           </button>
         </div>
         <div class="modal-body w-100 h-100">
            <div id="map"></div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
       </div>
     </div>
   </div>
 {% endblock %}
