{% extends 'base.html' %}
{% block extracss%}
    <link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="confirmation">
   <div class="container">
       <div class="section-title">
         <span class="eventid" eventid={{eventid}}></span>

          <div class="h2"> Current Booking Information </div>
            <p>Building: {{building}}</p>
            <p>Room: {{room}}</p>
            <!-- <p>Start Time: {{start_time}}</p>
            <p>End Time: {{end_time}}</p> -->
        </div>
         <br>
         End time : {{time}}
      </div>
    </div>
</div>
<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert!</h5>
      </div>
      <div class="modal-body">
        <p>You have 10 minutes left. Will you be occupying the room for longer?</p>
      </div>
      <div class="modal-footer">
        <form action="/extend" method="get">
          <input type="hidden" name="eventid" value={{eventid}} />
          <button type="submit" class="btn btn-primary" id="extend-button">Yes, extend my stay.</button>
          <button type="button" class="btn btn-secondary" id="expire-button" data-dismiss="modal">No, let it expire.</button>
        </form>
      </div>
    </div>
  </div>
</div>
 {% endblock %}
 {% block extrajs %}
<script src="../static/js/notification.js"></script>
 {% endblock %}
