{% extends 'base.html' %}
{% block extracss%}
    <link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="confirmation">
   <div class="container">
       <!-- <div class="section-title">
         <span class="eventid" eventid={{eventid}}></span>

          <div class="h2"> Current Booking Information </div>
            <p>Building: {{building}}</p>
            <p>Room: {{room}}</p>

        </div> -->
        <span class="eventid" eventid={{eventid}}></span>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <div class="section-title">
                <h1 style="color: #e38cb7;"><b>Current Booking Information</b></h1>
              </div>
              <div class="row justify-content-center">
                  <p class="lead"><b>Building: {{building}}<br>Room: {{room}}<br>
                    End time : {{time}}
                  </b>
                  </p>
                  <p class="p-3"><b>Note:</b> Stay on this page to be alerted 10 minutes before your booking ends. You may extend the booking if the room is available.</p>
              </div>
            </div>
          </div>
         <br>

      </div>
    </div>
</div>
<div id="modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Alert!</h5>
      </div>
      <div class="modal-body">
        <p>You have 10 minutes left. Will you be occupying the room for longer?</p>
      </div>
      <div class="modal-footer">
        <form action="/extend" method="get">
          <input type="hidden" name="eventid" value={{eventid}} />
          <button type="submit" class="btn btn-primary" id="extend-button">Yes, extend my stay.</button>
          <button type="button" class="btn btn-secondary" id="expire-button" data-dismiss="modal">No, let it expire.</button>
        </form>
      </div>
    </div>
  </div>
</div>
 {% endblock %}
 {% block extrajs %}
<script src="../static/js/notification.js"></script>
<script src="../static/js/script2.js"></script>
 {% endblock %}
