{% extends 'base.html' %}
{% block extracss%}
    <link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="confirmation">
   <div class="container">
       <div class="section-title">

         <h2> Current Booking Information </h2>
         {{building}}
         {{room}}
         <br>
         end time : {{fullTime}}
        <br>
         {{seconds}}

         <button onclick="myFunction()">Get Notifications</button>
   <script>
     function myFunction() {
       setInterval(function(){
         alert("10 minutes left"); }, 2);
     }

  </script>

</body>
 {% endblock %}
 {% block extrajs %}

 {% endblock %}
