{% extends 'base.html' %}
{% block extracss%}
<link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="confirmation">
    <div class="container">
        <div class="section-title">
            {% if admin == False %}
            <h2>Failure to edit event.</h2>
            <h3>{{error}}</h3>
            {% elif error|length %}
            <h2>Failure to edit event.</h2>
            <h5 style="white-space: pre-line">{{error}}</h5>
            {% else %}
            <h2>Confirmed!</h2>
            <h3>{{room}}</h3>
            <h4 style="white-space: pre-line">{{fullTime}}</h4>
            {% endif %}
            <p>Redirecting you to your profile in 10 seconds. Click <a href="/profile">here</a> to redirect now.</p>


        </div>
        </body>
        {% endblock %}

        {% block extrajs %}
        <script>
            window.setTimeout(function () {
                // Move to a new location or you can do something else
                window.location.href = "/profile";

            }, 11000);

        </script>
        {% endblock %}