{% extends 'base.html' %}
{% block extracss%}
    <!-- Main css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- <link href="themify-icons.css" rel="stylesheet"> -->
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="rooms">
   <div class="container">
       <span class="building" building="{{building}}"></span>
       <span class="lat" latitude="{{latitude}}"></span>
       <span class="long" longitude="{{longitude}}"></span>
       <div class="section-title">
            <center><h3>{{building}} - {{room}}</h3></center>
            <h4>Available Times</h4>
       </div>

       <div class="list-group list-group-flush">
         {% for time in times %}
            <a href={{url_for('confirmExtend', building=building, room=room, eventid=eventid, time=times[loop.index0], fullTime=fullTimes[loop.index0])}} class="list-group-item list-group-item-action">{{time}}</a>
         {% endfor %}
        </div>
        <br>
</div>
{% endblock %}
{% block extrajs %}
<script src="../static/js/location.js"></script>
<script src="../static/js/reload.js"></script>
{% endblock %}
