{% extends 'base.html' %}
{% block extracss%}
<link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="confirmation">
    <div class="container">
        <div class="section-title">
            {% if admin == False %}
            <h2>Failure to confirm.</h2>
            <h3>{{addMessage}} <strong>{{newUser}}</strong> not added as an admin.</h3>
            <p>Redirecting you to your profile in 5 seconds. Click <a href="/profile">here</a> to redirect now.</p>
            {% elif addMessage|length %}
            <h2>Failure to confirm.</h2>
            {% if newUser|length %}
            <h3>{{addMessage}} <strong>{{newUser}}</strong> not added as an admin.</h3>
            {% else %}
            <h3>{{addMessage}}</h3>
            {% endif %}
            <p>Redirecting you to the Admin Portal in 5 seconds. Click <a href="/admin">here</a> to redirect now.</p>
            {% else %}
            <h2>Confirmed!</h2>
            <h3><strong>{{newUser}}</strong> added as an admin. A notification email has been sent.</h3>
            <p>Redirecting you to the Admin Portal in 5 seconds. Click <a href="/admin">here</a> to redirect now.</p>
            {% endif %}

        </div>
        </body>
        {% endblock %}
        {% block extrajs %}
        <script src="../static/js/script2.js"></script>
        {% if admin %}
        <script>
            window.setTimeout(function () {
                // Move to a new location or you can do something else
                window.location.href = "/admin";

            }, 5500);

        </script>
        {% else %}
        <script>
            window.setTimeout(function () {
                // Move to a new location or you can do something else
                window.location.href = "/profile";

            }, 5500);

        </script>
        {% endif %}
        {% endblock %}