{% extends 'base.html' %}
{% block extracss%}
    <link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="features">
    <div class="container">
        <div class="section-title pl-4">
            <h3>Current Booking</h3>
            {% if event is defined %}
              {% if event.items() %}
                  <div class="card-deck">
                      <div class="card" style="width: 18rem;">
                                  <div class="card-body">
                                  <span><h5 class="card-title">{{building}}</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Room {{room}}</h6>
                                  <p class="card-text">{% for key, val in event.items() %}{{key}}: {{val}}<br>{% endfor %}</p>
                                  <a href={{url_for('currentBooking', building=building, room=room, fullTime=event['End Time'])}} class="btn btn-info">Get Info</a>
                                  <a href={{url_for('releaseRoom', building=building, room=room, eventid=eventid)}} class="btn btn-info">Release Room</a>
                                  </div>
                              </div>
                      </div>
              {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js">
</script>

<script>
  function checkEvents() {
    console.log('in checkEvents');
    end = event['End Time'];
    console.log(end);
    year = int(end[0:4]);
    month = int(end[5:7]);
    day = int(end[8:10]);
    hour = int(end[11:13]);
    minute = int(end[14:16]);
    end_time = datetime(year, month, day, hour, minute, 0, 0);
    now_time = datetime.now();

    if (end_time > now_time) event = null;

    return event;
  }


  function setup() {
    if event.items():
      event = checkEvents();
  }


  $('document').ready(setup);
</script>
{% endblock %}
