{% block content %}
        <div class="text-left">
            {% for key, value in events.items(): %}
            <h4> {{key}} </h4>
            {% for event in value %}
            <span>
                <label>{{event['title']}}</label>
                <p class="mb-0">
                    Start Time: {{event['StartTime']}}
                </p>
                <p class="mt-0 mb-0">
                    End Time: {{event['EndTime']}}
                </p>
                <p class="pt-0">
                    Booked by: {{event['owner']}}
                </p>
            </span>
            {% endfor %}
            <br>
            {% endfor %}
        </div>
{% endblock %}