{% extends 'base.html' %}
{% block extracss%}
    <link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="rooms">
   <div class="container">
       <div class="section-title">
            <center><h3>{{building}}</h3></center>
            <h4>All Rooms</h4>
       </div>

       <div class="list-group list-group-flush">
         <div class="card-deck">
          {% for key, value in rooms.items(): %}
            <!-- <a href={{url_for('bookRoom', building=building, room=key)}} class="list-group-item list-group-item-action">
              Room {{key}} -->
              <div class="card features">
                <div class="card-body">
                <div class="card-title">
                  {% if value %}
                        <h5><a href={{url_for('viewRoom', building=building, room=key)}}>
                          Room {{key}}</a>
                          <span class="badge badge-success float-right" style="font-size: 50%;">Available</span>
                        </h5>

                  {% else %}
                    <h5><a>
                      Room {{key}}
                      <span class="badge badge-danger float-right" style="font-size: 50%;">Unavailable</span>
                    </a></h5>
                  {% endif %}
                </div>
                <p class="card-text"></p>
                <a href={{url_for('viewRoom', building= building, room=key)}}
                  class="btn btn-info float-right mr-2">View Room Schedule</a>
              </div>
              </div>
          {% endfor %}
          </div>
      </div>

  </div>
 {% endblock %}
{% block extrajs %}
  <script src="../static/js/reload.js"></script>
  <script src="../static/js/script2.js"></script>
{% endblock %}
