{% extends 'base.html' %}
{% block extracss%}
<link href="../static/css/style.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="section mt-5 pt-5" id="confirmation">
    <div class="container">
        <div class="section-title">
            {% if admin == False %}
            <h2>Failure to confirm.</h2>
            <h3>{{error}}</h3>
            <p>Redirecting you to your profile in 5 seconds. Click <a href="/profile">here</a> to redirect now.</p>
            {% elif error|length %}
            <h2>Failure to confirm.</h2>
            <h5>{{error}}</h5>
            <p>Redirecting you to the Admin Portal in 5 seconds. Click <a href="/admin">here</a> to redirect now.</p>
            {% else %}
            <h2>Confirmed!</h2>
            <h3>{{building}} - {{room}}</h3>
            <h4>{{fullTime}}</h4>
            <p>Redirecting you to the Admin Portal in 5 seconds. Click <a href="/admin">here</a> to redirect now.</p>
            {% endif %}


        </div>
        </body>
        {% endblock %}

        {% block extrajs %}
        {% if admin %}
        <script>
            window.setTimeout(function () {
                // Move to a new location or you can do something else
                window.location.href = "/admin";

            }, 5500);

        </script>
        {% else %}
        <script>
            window.setTimeout(function () {
                // Move to a new location or you can do something else
                window.location.href = "/profile";

            }, 5500);

        </script>
        {% endif %}
        {% endblock %}