{% extends 'base.html' %}
{% block extracss%}
    <!-- Main css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- <link href="themify-icons.css" rel="stylesheet"> -->
{% endblock %}
{% block content %}

<div class="section mt-5 pt-5" id="rooms">
   <div class="container">
     <span class="building" building="{{building}}"></span>
     <div class="section-title">
          <center><h3>{{building}} - {{room}}</h3></center>
          <h4>Schedule for {{month_day}}</h4>
     </div>

    <div class="list-group list-group-flush">
         {% for key, value in times.items(): %}
            <div class="list-group-item list-group-item-action">{{key}}
            <!-- value[0] is if room is available at certain time -->
            <!-- value[1] is name of person who booked room, if applicable -->
            {%if value[0] %}
                <span class="badge badge-success float-right">Available</span>
            {% else %}
                {% if admin and value[1]|length > 1 %}
                    <span class="badge badge-danger float-right"> Booked by {{value[1]}} </span>
                {% elif value[1]|length > 1 %}
                    <span class="badge badge-danger float-right"> Booked </span>
                {% else %}
                    <span class="badge badge-danger float-right"> Closed </span>
                {%endif%}
            {%endif%}
            </div>
         {% endfor %}
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="../static/js/script2.js"></script>
<script src="../static/js/reload.js"></script>
{% endblock %}
