{% extends 'base.html' %}
{% block extracss%}
    <!-- Main css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- <link href="themify-icons.css" rel="stylesheet"> -->
{% endblock %}
{% block content %}

<div class="section mt-5 pt-5" id="rooms">
   <div class="container">
     <span class="building" building="{{building}}"></span>
     <div class="section-title">
          <center><h3>{{building}} - {{room}}</h3></center>
          <h4>Available Times</h4>
          <h4> Current Available: {{isAvailable}} </h4
     </div>

    <div class="list-group list-group-flush">
         {% for key, value in times.items(): %}
            <div class="list-group-item list-group-item-action">{{key}}</div>
            {%if value %}
              <span class="badge badge-success float-right">Available</span>
            {% else %}
              <span class="badge badge-danger float-right">Unavailable</span>
            {%endif%}
         {% endfor %}
    </div>
</div>
{% endblock %}
{% block extrajs %}
<script src="../static/js/location.js"></script>
{% endblock %}
